.video{
    position: relative;
    background-color: #2f4241;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;    /*3 need this line to do snap   */
}

.video_player{
    object-fit: fill;
    width: 100%;
    height: 100%;
}